
/* reset */
/* cdn.js.com?? 외부링크를 넣어주는데 css 연결 링크보다 위에 있어야 함 */
* {margin: 0; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a {
    font-weight: 700; font-size: inherit;
}


.nabar {overflow:hidden; background-color: #333; position: fixed; top:0px; width: 100%;}

.nabar a { float:left; color:#f2f2f2; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px;}
.nabar a:hover {background: #ddd; color:black;}

section {width: 1200px; height: 400px; margin: 0 auto; background-color: lightskyblue; border: 3px solid blue;}